body{
    margin: 0;
    padding: 0;
}
li{
    float: right;
}
.list{
    padding-left: 100px;
}
.navDiv{
  margin: 0 auto;
  width: 800px;
  display: block;
}
.nav1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  
}
ul li{
    list-style: none;
}
.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;  
    border-bottom: 20px solid #03b1fc;
    /* width: 100%; */  
  }

.logo img{
    width: 200px;
    position: relative; 
    top: 10px;
    z-index: 1;
}
.star{
    height: 15px;
    width: 10px;
    padding-top: 20px;  
}
.navbar{
 
}


.star1 img{
    height: 30px;
    padding-left: 20px;
    padding-top: 15px;
    width: 13vw;
}
.star2 h4{
    padding: 0px 0px 0px 10px;
    
}
   /* header end */
.navborder{
   padding: 30px 10px 30x 20px;
   background-color: blue;
} 

.container1{
 margin: 0 auto;
 width: 800px;
}
.container11{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 60px 0px 60px 0px;
   width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 10px;
    background-color: white;
    width: 38%;      
  }
  .card h2{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px 20px 0px 20px;
  }
  .card p{
     font-family:  sans-serif; 
    font-family: 'Open Sans Condensed', ;
    justify-content: center;
   padding: 0px 20px 0px 20px;
  }
select{
    border: none;
    background-color:  #03adfc;
    padding: 8px 12px 8px 12px;
    text-align: center;
    color: white;
   border-radius: 4px;
   margin: 0px 20px 0px 20px;
   
}
  .container_img1{
    width: 40%;
    margin-left: 40px;

   
  } 
.container_img1 img{
    height: 300px;   
}
 .body{
     background-color: #f5f5f0;
 }
.container2{
    margin: 0 auto;
    width: 800px;
    padding: 10px 0px 100px 0px;
    margin-left: auto;
    margin-right: auto;
}
.container21{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap; 
}
.container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container p{
    padding: 0px 20px 0px 20px;
    font-family: 'Open Sans Condensed', ;
    font-family: 'Maven Pro', ;
}
.card11{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 0px;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 8px solid #03b1fc;
  
}
.card11 img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card12{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 0px;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    width: 230px;
    height: 220px;
    /* margin-left: 30px;
    margin-right: 30px; */
    border-bottom: 8px solid #03b1fc;
    
}
.card12 img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}
.card13{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 0px;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    width: 230px;
    height: 220px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 8px solid #03b1fc;
    
}
.card13 img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}
.container23{
    margin-top: 50px;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card31{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 0px;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    width: 230px;
    height: 220px;
    border-bottom: 8px solid #03b1fc;
}
.card31 img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.card32 img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
 }
.card32{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px 0px;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    width: 230px;
    height: 220px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 8px solid #03b1fc;
}
.footer{
    background-color:  #00334d;
  
}
.footerParent{
    margin:0 auto;
    width:800px;  
}
.container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p1{
    color: gainsboro; 
    font-size: 8px;
   
}
.p2 {
    font-size: 8px;
    color: gainsboro;
}  
@media only screen and (max-width: 780px){
    .navDiv{
        margin: 0 auto;
        width: 800px;
        display: block;
      }
    .nav1{
      display: block;
    }
    .navDiv{ 
    display: block; 
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .logo{
        width: 70%;
        justify-content: center;
        padding: 10px 70px;
    }
    .navbar{
        width: 40%;
    }
    .container1{
        margin: 0 auto;
        width: 400px;
       }
   .container11{
   justify-content: center;
   display: block;
   }
   .card{
     width: 60vw;
     justify-content: center;
   }
   .card h2{
       font-size: 30px;
       padding-left: 10px;
   }
   .card p{
       font-size: 15px;
       padding-left: 10px;
   }
   .container_img1{
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
   }
   .container_img1 img{
       height: 300px;
   }
   .container2{
    margin: 0 auto;
    width: 300px;  
   }
   .container21{
       justify-content: center;
       flex-wrap: wrap;
       flex-direction: column;
   }
   .card11{
        margin: 50px 0px 50px 0px; 
       height: 250px;
       width: 250px;
       border-bottom: 20px solid #03b1fc; 
   }
   .container p{
    font-size: 15px;
    padding-left: 10px;
   }
   .card12{
     margin: 50px 0px 50px 0px; 
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .card13{
     margin: 50px 0px 50px 0px; 
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
    }
   
  .container p{
   font-size: 15px;
   }
   .container23{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   }
   .card31{
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
   
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .card32{
    margin: 50px 0px 50px 0px;
    height: 250px; 
    width: 250px;
    border-bottom: 20px solid #03b1fc; 
    justify-content: center;
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .footerParent{
       width: 100%;
   }
   .container3{
    padding-left: 25px;  
  }
  .container3 p{
   font-family: sans-serif;
    font-size: 8px;
    color: gainsboro;
    padding: 0 10px 0 10px;
  }
}
@media only screen and (max-width: 480px){
    .navDiv{
        margin: 0 auto;
        width: 800px;
        display: block;
      }
    .nav1{
      display: block;
    }
    .navDiv{ 
    display: block; 
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .logo{
        width: 70%;
        justify-content: center;
        padding: 10px 70px;
    }
    .navbar{
        width: 40%;
    }
    .container1{
        margin: 0 auto;
        width: 70vw;
       }
   .container11{
   justify-content: center;
   display: block;
   }
   .card{
     width: 60vw;
     justify-content: center;
   }
   .card h2{
       font-size: 30px;
       padding-left: 10px;
   }
   .card p{
       font-size: 20px;
        padding-left: 10px; 
   }
   .container_img1{
    justify-content: center;
    width: 60vw;
    margin-left: 0px;
   }
   .container_img1 img{
       height: 300px;
       width: 60vw 
   }
   .container2{
    margin: 0 auto;
    width: 300px; 
    padding: 0; 
   }
   .container21{
       justify-content: center;
       flex-wrap: wrap;
       flex-direction: column;
       padding-left: 20px;
   }
   .card11{
       margin: 0px 0px 0px 0px;
       height: 250px;
       width: 250px;
       border-bottom: 20px solid #03b1fc; 
   }
   .container p{
    font-size: 15px;
    padding-left: 10px;
   }
   .card12{
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .card13{
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
    }
   
  .container p{
   font-size: 15px;
   }
   .container23{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
   }
   .card31{
    height: 250px;
    width: 250px; 
    border-bottom: 20px solid #03b1fc; 
   
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .card32{
    height: 250px; 
    width: 250px;
    border-bottom: 20px solid #03b1fc; 
    justify-content: center;
    }
   .container h2{
    font-size: 30px;
   }
  .container p{
   font-size: 15px;
   padding-left: 10px;
   }
   .container3{
     padding-left: 30px;  
   }
   .container3 p{
    font-family: sans-serif;
     font-size: 10px;
     color: gainsboro;
   }
}