li{
    float: left;
}
ul{
   background-color: cornflowerblue;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  body{
      background-color: cornflowerblue;
  }