table{
    border-collapse: collapse;
    margin: 10px 20px 0px 20px ;
    table-layout: fixed;
    height: 10vw;
    width:  80vw;
}
table,th,td{
    border: 1px solid black;

}
tr:nth-child(odd){
    background-color: #f2f2f2
}
th{
    background-color: grey;
    font-family: sans-serif;
    height: 35px;
}
td{
    text-align: center;
}
/* .head1{
  width: 10vw;
} */