 body{
    margin: 0;
    padding: 0;
    background: lavender;
}
ul{
    display: flex;
    justify-content: space-between;
    background-color: #88c1d9;
    width: 100%;
   /* height: 200px; */
    overflow: hidden;
    margin: 0;
    position: relative;
    /* display: inline-block; */
}
li{
    list-style: none;
}
li:hover{
    background-color: lightblue;
    cursor: pointer;
}
.nav-item{
    display: list-item;
    text-align: center;
    padding: 1.8vw 1.6vw;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    overflow: visible;
}
.dropdown-item{
    display: none;
    max-width: 160px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    overflow: visible;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-item {
  display: block;
  overflow: visible;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}